@model IEnumerable<petstore.Models.DichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body fix-width scroll-inner">
    <table class="table table-striped">
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Tên loại dịch vụ
            </th>
            <th>
                Ngày đặt
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diachi)
                </td>
                <td>
                    @if (item.trangthai == "đang chờ")
                    {
                        <div style="color: #007bff;">@item.trangthai</div>

                    }
                    else if (item.trangthai == "chờ khách đến")
                    {
                        <div style="color: green;">@item.trangthai</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tendichvu)
                </td>
                <td>
                    @Convert.ToDateTime(@item.ngaydat).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (item.trangthai == "đang chờ")
                    {
                        <span>@Html.ActionLink("hủy lịch hẹn", "HuyDichVu", new { id = item.iddichvu })</span>

                    }
                    else if (item.trangthai == "chờ khách đến")
                    {
                        <span></span>
                    }

                </td>
            </tr>
        }

        <div class="text-danger">@Html.Raw(TempData["thongbao1"])</div>
    </table>

</div>
